<div class="row list-group">
  <!-- <h4> {{title}} </h4> -->
  <div class="item col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-repeat="product in products | filter:groupfilter">
    <div class="thumbnail">
      <a ui-sref="shop.product({id:product.id})"><img ng-src="{{product.image}}" alt="" /></a>
      <div class="caption">
        <h5>{{product.name}}</h5>
        <p>
          {{product.description}}
        </p>

        <h4 style="text-align:center">
          <a class="btn" ui-sref="shop.product({id:product.id})"> <i class="icon-zoom-in"></i></a>
          <a class="btn" ng-click="addtocart({element:product})">Add to <i class="icon-shopping-cart"></i></a>
          <a class="btn btn-primary" href="#">{{product.price}}</a>
        </h4>
      </div>
    </div>
  </div>
</div>
