<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/producto.css">
    <link rel="stylesheet" href="styles/shop-homepage.css">
    <!-- endbuild -->
  </head>
  <body ng-app="tplaboratorioIv2016App">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" ui-sref="main">tplaboratorioIv2016</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li ui-sref-active="active"><a ui-sref="main">Home</a></li>
              <li ui-sref-active="active" ng-if="isAdministrator"><a ng-href="#/usuarios">usuarios</a></li>
              <li ui-sref-active="active"><a ui-sref="login" >Ingresar</a></li>
              <li ui-sref-active="active" ng-if="isAdministrator || isUser"><a ng-href="#/altaProducto">Alta Productos</a></li>
              <li ui-sref-active="active" ng-if="isAdministrator"><a ng-href="#/altaUsuario">Alta Usuario</a></li>
              <li ui-sref-active="active"><a ng-href="#/about">About</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
    
    <ui-view></ui-view>

    <!-- /.container -->

    <div class="fluid-container">


        <hr>
        <dir class="container">

            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-md-3">
                        <h4>Site Navigation</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>About Company</h4>
                        <a href="">About Us</a>
                    </div>
                    <div class="col-md-3">
                        <h4>Customer Support</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>Connect With Us</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Your Website 2014</p>
                    </div>
                </div>
            </footer>
        </dir>

    </div>
    <!-- /.container -->




    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/satellizer/dist/satellizer.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->

        <script src="scripts/app.js"></script>
        <!--  services -->
        <script src="scripts/services/servicioLogin.js"></script>
        <script src="scripts/services/servicioPersona.js"></script>
        <script src="scripts/services/servicioProductos.js"></script>
        <!--  endservices -->

        <!--  factories -->
        <script src="scripts/factories/authProviderFactory.js"></script>
        <script src="scripts/factories/permisosFactory.js"></script>
        <script src="scripts/factories/routeFactory.js"></script>
        <script src="scripts/factories/dataFactory.js"></script>
        <!--  endfactories -->

        <!--  diretives -->
        <script src="scripts/directives/productoImagen.js"></script>
        <script src="scripts/directives/directivaGrilla.js"></script>
        <script src="scripts/directives/grillaProductos.js"></script>
        <script src="scripts/directives/directivaLogin.js"></script>
        <!--  enddiretives -->

        <!-- controllers -->
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/menuCtrl.js"></script>
        <script src="scripts/controllers/productos.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/usuarios.js"></script>
        <script src="scripts/controllers/altaproducto.js"></script>
        <script src="scripts/controllers/altausuario.js"></script>
        <!-- controllers -->

    <!-- endbuild -->
</body>
</html>
