<div id="mainBody">
  <div class="container">
    <div class="row">
      <div class="span9">
        <!--<ul class="breadcrumb">
          <li><a href="index.html">Home</a> <span class="divider">/</span></li>
          <li class="active">Login</li>
        </ul>-->
        <h3> Login</h3>
        <hr class="soft" />

        <div class="row">
          <div class="span4">
            <div class="well">
              <h4>Creá tu cuenta</h4><br/> Ingresá tu correo para registrarte.<br/><br/><br/>
              <form>
                <div class="form-group has-feedback">
                  <label class="control-label" for="inputEmail0">Email</label>
                  <div class="controls">
                    <input class="form-control" type="email" id="inputEmail0" placeholder="Email" ng-model="email" required>
                  </div>
                </div>
                <div class="controls">
                  <center><button  type="submit" class="btn btn-success block" ng-click="registrar()" >Crear cuenta</button></center>
                  <!--ui-sref="register({mail:email})"-->
                </div>
              </form>
            </div>
          </div>
          <div class="span1"> &nbsp;</div>
          <div class="span4">
            <div class="well">
              <h4>Ya tiene una cuenta?</h4>
              <form>
                <div class="form-group has-feedback">
                  <label class="control-label" for="inputEmail1">Email</label>
                  <div class="controls">
                    <input class="form-control" type="email" id="inputEmail1" placeholder="Email" ng-model="usuario.email" required>
                  </div>
                </div>
                <div class="form-group has-feedback">
                  <label class="control-label" for="inputPassword1">Contraseña</label>
                  <div class="controls">
                    <input type="password" class="form-control" id="inputPassword1" placeholder="Contraseña" ng-model="usuario.password" required>
                  </div>
                </div>
                <div class="form-group has-feedback">
                  <div class="controls">
                    <center><button type="submit" class="btn btn-danger" ng-click="loguarse()">Sign in</button> <a href="">Olvido la contraseña?</a></center>
                  </div>
                </div>
                <div class="form-group has-feedback">
                  <center>
                    <div class="btn-group" role="group" aria-label="...">
                      <button type="button" class="btn btn-success btn-xs" ng-click="cliente()">Cliente</button>
                      <button type="button" class="btn btn-info btn-xs" ng-click="empleado()">Empleado</button>
                      <button type="button" class="btn btn-warning btn-xs" ng-click="encargado()">Encargado</button>
                      <button type="button" class="btn btn-danger btn-xs" ng-click="administrador()">Administrador</button>
                    </div>
                  </center>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
