<div id="mainBody">
  <div class="container">
    <div class="row">
      <div class="span9">
        <h3>  CARRITO DE COMPRAS [ <small>{{ storedValues.length > 0 ? storedValues.length : 0  }} Item(s) </small>]<a class="btn btn-large pull-right" ui-sref="shop.home"><i class="icon-arrow-left"></i> Continuar comprando! </a></h3>
        <hr class="soft" />
        <table class="table table-bordered" ng-if="!isloged">
          <!-- <tr>
            <th> I AM ALREADY REGISTERED </th>
          </tr> -->
          <tr class="row" ng-if="!isLoged">
            <td class="col-sm-12">

              <form class="form-horizontal has-feedback">
                <div class="control-group">
                  <label class="col-sm-2 col-sm-offset-2 control-label" for="inputUsername">Usuario</label>
                  <div class="col-sm-4">
                    <input type="text" id="inputUsername" placeholder="usuario" class="form-control" required>
                  </div>
                </div>
                <div class="control-group">
                  <label class="col-sm-2 col-sm-offset-2 control-label" for="inputPassword1">Contraseña</label>
                  <div class="col-sm-4">
                    <input type="password" id="inputPassword1" placeholder="contraseña" class="form-control" required>
                  </div>
                </div>
                <div class="control-group">
                  <div class="col-sm-4 col-sm-offset-4">
                    <button type="submit" class="btn btn-info">Ingresar</button> o <a ui-sref="shop.register" class="btn btn-success">Registrarse!</a>
                  </div>
                </div>
                <!--div class="control-group">
                  <div class="controls">
                    <a href="forgetpass.html" style="text-decoration:underline">Forgot password ?</a>
                  </div-->
                </div>
              </form>
            </td>
          </tr>
        </table>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Description</th>
              <th>Cantidad</th>
              <th>Precio</th>
              <th>Descuento</th>
              <!--<th>Tax</th>-->
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="carrito.length > 0" ng-repeat="product in carrito">
              <td> <img width="60" ng-src="{{product.image}}" alt="" /></td>
              <td>{{product.description}}</td>
              <td>
                <div class="input-append">
                  <input class="span1" style="max-width:34px" placeholder="{{product.quantity}}" id="appendedInputButtons" size="16" type="text">
                  <button class="btn" type="button" ng-click="decrease(product.id)">
                    <i class="icon-minus"></i>
                  </button>
                  <button class="btn" type="button" ng-click="increase(product)">
                    <i class="icon-plus"></i>
                  </button>
                  <button class="btn btn-danger" type="button" ng-click="delete(product.id)">
                    <i class="icon-remove icon-white"></i>
                  </button>
                </div>
              </td>
              <td>$ {{product.price | number:2}}</td>
              <td>$ {{discount | number:2}}</td>
              <td>$ {{tax | number:2}}</td>
              <td>$ {{(product.quantity * (product.price - discount)) * tax | number:2 }}</td>
            </tr>
            <tr ng-if="carrito == null || carrito.length == 0">
              <td colspan="7">
                <strong><center> Actualmente, tu carrito de compras está vacío </center></strong>
              </td>
            </tr>
            <tr>
              <td colspan="6" style="text-align:right">Total Price: </td>
              <td> $ {{totalPrice | number:2}}</td>
            </tr>
            <tr>
              <td colspan="6" style="text-align:right">Total Discount: </td>
              <td> $ {{totalDiscount | number:2}}</td>
            </tr>
            <tr>
              <td colspan="6" style="text-align:right">Total Tax: </td>
              <td> $ {{totalTax | number:2}}</td>
            </tr>
            <tr>
              <td colspan="6" style="text-align:right"><strong>TOTAL ($ {{totalPrice |number:2}} - $ {{totalDiscount | number:2}} + ${{totalTax | number:2}}) =</strong></td>
              <td class="label label-important" style="display:block"> <strong> $ {{totalPrice -  totalDiscount + totalTax | number:2}} </strong></td>
            </tr>
          </tbody>
        </table>


        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>
                <form class="form-horizontal">
                  <!--<div class="input-group">
                    <label class="control-label"><strong> VOUCHERS CODE: </strong> </label>
                    <div class="control">
                      <input type="text" placeholder="codigo" class="form-control">
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"> ADD </button>
                      </span>
                      
                    </div>
                  </div>-->
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-3 control-label"><strong> Codigo descuento: </strong> </label>
                      <div class="col-sm-3"> 
                        <input type="text" class="form-control" placeholder="ingrese el codigo">
                      </div>
                        <button class="btn btn-default" type="button">agregar!</button>
                    </div><!-- /input-group -->
                  </div>
                </form>
              </td>
            </tr>

          </tbody>
        </table>

        <table class="table table-bordered">
          <tr class="row">
            <th>Estimá tu envio </th>
          </tr>
          <tr class="row">
            <td class="col-sm-12">
              <form class="form-horizontal col-sm-6">
                <!--<div class="control-group">
                  <label class="control-label" for="inputCountry">Pais </label>
                  <div class="col-sm-7">
                    <input type="text" id="inputCountry" placeholder="Country" class="form-control">
                  </div>
                </div>-->
                <div class="control-group">
                  <label class="control-label" for="inputPost" >Su dirección</label>
                  <div class="col-sm-7">
                    <input type="text" id="inputPost" placeholder="Calle nº, ciudad" class="form-control" ng-model="direction"> 
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <button type="submit" class="btn btn-info" ng-click="MejorDistancia()">Estimar </button>
                  </div>
                </div>
                <div class="row">
                <center>Distancancia: {{showDistance}}</center>
                <center>Precio: {{ distanceValue > 0 ? (distanceValue /10) * 0.3 : '' }}</center>
              </div>
              </form>
              <div class="col-sm-6">
                <!--<div google-maps-js markers="mapMarkers"></div>-->
                <ng-map center="[{{lat}}, {{lng}}]" zoom="12" zoom-control="false" street-view-control="false"  map-type-control="false"  >
                   <custom-marker  position="[{{lat}}, {{lng}}]">
                    <div class="btn btn-default btn-xs">
                       Esta aqui!
                    </div>
                  </custom-marker>
                  <directions
                    draggable="true"
                    panel="directions-panel"
                    travel-mode="DRIVING"
                    origin="{{directionOrigin}}"
                    destination="{{directionDestination}}">
                  </directions>
                  <marker ng-repeat="p in positions" position="{{p}}" icon="http://maps.google.com/mapfiles/ms/micons/shopping.png"></marker>
                </ng-map>
              </div>
            </td>

          </tr>
        </table>
        <a class="btn btn-large" ui-sref="shop.home"><i class="icon-arrow-left"></i> Continuar comprando! </a>
        <a href="login.html" class="btn btn-large pull-right" ng-disabled="true">Finalizar compra! <i class="icon-arrow-right"></i></a>

      </div>
    </div>
  </div>
</div>
<!-- MainBody End ============================= -->
