<div id="mainBody">
  <div class="container">
    <div class="row">
      <div class="span9">
        <h3>  SHOPPING CART [ <small>{{ storedValues.length }} Item(s) </small>]<a class="btn btn-large pull-right" ui-sref="main"><i class="icon-arrow-left"></i> Continue Shopping </a></h3>
        <hr class="soft" />
        <table class="table table-bordered" ng-if="!isloged">
          <!-- <tr>
            <th> I AM ALREADY REGISTERED </th>
          </tr> -->
          <tr class="row">
            <td class="col-sm-12">

              <form class="form-horizontal">
                <div class="control-group">
                  <label class="col-sm-2 col-sm-offset-2 control-label" for="inputUsername">Usuario</label>
                  <div class="col-sm-4">
                    <input type="text" id="inputUsername" placeholder="Username" class="form-control">
                  </div>
                </div>
                <div class="control-group">
                  <label class="col-sm-2 col-sm-offset-2 control-label" for="inputPassword1">Contraseña</label>
                  <div class="col-sm-4">
                    <input type="password" id="inputPassword1" placeholder="Password" class="form-control">
                  </div>
                </div>
                <div class="control-group">
                  <div class="col-sm-4 col-sm-offset-4">
                    <button type="submit" class="btn btn-info">Ingresar</button> o <a ui-sref="shop.register" class="btn btn-success">Registrarse!</a>
                  </div>
                </div>
                <!--div class="control-group">
                  <div class="controls">
                    <a href="forgetpass.html" style="text-decoration:underline">Forgot password ?</a>
                  </div-->
                </div>
              </form>
            </td>
          </tr>
        </table>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Product</th>
              <th>Description</th>
              <th>Quantity/Update</th>
              <th>Price</th>
              <th>Discount</th>
              <th>Tax</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="carrito.length > 0" ng-repeat="product in carrito">
              <td> <img width="60" ng-src="{{product.image}}" alt="" /></td>
              <td>{{product.description}}</td>
              <td>
                <div class="input-append">
                  <input class="span1" style="max-width:34px" placeholder="{{product.quantity}}" id="appendedInputButtons" size="16" type="text">
                  <button class="btn" type="button" ng-click="decrease(product.id)">
                    <i class="icon-minus"></i>
                  </button>
                  <button class="btn" type="button" ng-click="increase(product)">
                    <i class="icon-plus"></i>
                  </button>
                  <button class="btn btn-danger" type="button" ng-click="delete(product.id)">
                    <i class="icon-remove icon-white"></i>
                  </button>
                </div>
              </td>
              <td>$ {{product.price | number:2}}</td>
              <td>$ {{discount | number:2}}</td>
              <td>$ {{tax | number:2}}</td>
              <td>$ {{(product.quantity * (product.price - discount)) * tax | number:2 }}</td>
            </tr>
            <tr ng-if="carrito == null || carrito.length == 0">
              <td colspan="7">
                <strong><center> No items to show </center></strong>
              </td>
            </tr>
            <tr>
              <td colspan="6" style="text-align:right">Total Price: </td>
              <td> $ {{totalPrice | number:2}}</td>
            </tr>
            <tr>
              <td colspan="6" style="text-align:right">Total Discount: </td>
              <td> $ {{totalDiscount | number:2}}</td>
            </tr>
            <tr>
              <td colspan="6" style="text-align:right">Total Tax: </td>
              <td> $ {{totalTax | number:2}}</td>
            </tr>
            <tr>
              <td colspan="6" style="text-align:right"><strong>TOTAL ($ {{totalPrice |number:2}} - $ {{totalDiscount | number:2}} + ${{totalTax | number:2}}) =</strong></td>
              <td class="label label-important" style="display:block"> <strong> $ {{totalPrice -  totalDiscount + totalTax | number:2}} </strong></td>
            </tr>
          </tbody>
        </table>


        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>
                <form class="form-horizontal">
                  <!--<div class="input-group">
                    <label class="control-label"><strong> VOUCHERS CODE: </strong> </label>
                    <div class="control">
                      <input type="text" placeholder="codigo" class="form-control">
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"> ADD </button>
                      </span>
                      
                    </div>
                  </div>-->
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-3 control-label"><strong> Codigo descuento: </strong> </label>
                      <div class="col-sm-3"> 
                        <input type="text" class="form-control" placeholder="ingrese el codigo">
                      </div>
                        <button class="btn btn-default" type="button">agregar!</button>
                    </div><!-- /input-group -->
                  </div>
                </form>
              </td>
            </tr>

          </tbody>
        </table>

        <table class="table table-bordered">
          <tr>
            <th>Estimá tu envio </th>
          </tr>
          <tr>
            <td>
              <form class="form-horizontal">
                <div class="control-group">
                  <label class="control-label" for="inputCountry">Pais </label>
                  <div class="col-sm-3">
                    <input type="text" id="inputCountry" placeholder="Country" class="form-control">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="inputPost" >Zipcode / Codigo Postal </label>
                  <div class="col-sm-3">
                    <input type="text" id="inputPost" placeholder="Postcode" class="form-control">
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <button type="submit" class="btn btn-info">Estimar </button>
                  </div>
                </div>
              </form>
            </td>
          </tr>
        </table>
        <a class="btn btn-large" ui-sref="main"><i class="icon-arrow-left"></i> Continue Shopping </a>
        <a href="login.html" class="btn btn-large pull-right" ng-disabled="true">Next <i class="icon-arrow-right"></i></a>

      </div>
    </div>
  </div>
</div>
<!-- MainBody End ============================= -->
