<div id="mainBody">
  <div class="container">
    <div class="row">
      <div id="gallery" class="span3">
        <a href="shop/themes/images/products/large/f1.jpg" title="Fujifilm FinePix S2950 Digital Camera">
          <img src="shop/themes/images/products/large/3.jpg" style="width:100%" alt="Fujifilm FinePix S2950 Digital Camera" />
        </a>
        <div id="differentview" class="moreOptopm carousel slide">

              <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" ng-show="slides.length > 1">
                  <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                      <img ng-src="{{slide.image}}" style="margin:auto;">
                  </div>
              </div>
        </div>

			 <div class="btn-toolbar">
			  <div class="btn-group">
				<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-envelope"></i></button>
				<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-print"></i></button>
				<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-zoom-in"></i></button>
				<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-star"></i></button>
				<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-thumbs-up"></i></button>
				<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-thumbs-down"></i></button>
			  </div>
			</div>
      </div>
      <div class="span6">
        <h3>Fujifilm FinePix S2950 Digital Camera  </h3>
        <small>- (14MP, 18x Optical Zoom) 3-inch LCD</small>
        <hr class="soft" />
        <form class="form-horizontal qtyFrm">
          <div class="control-group">
            <label class="control-label"><span>$ {{product.precio}}</span></label>
            <div class="controls">
              <input type="number" class="span1" placeholder="Qty." ng-model="cartCantidad" />
              <button type="submit" class="btn btn-large btn-primary pull-right"> Add to cart <i class=" icon-shopping-cart"></i></button>
            </div>
          </div>
        </form>

        <hr class="soft" />
        <h4 ng-class="{'text-danger': product.cantidad - cartCantidad <= 10 }">{{product.cantidad - cartCantidad < 0 ? 0 : product.cantidad - cartCantidad }}</h4>en stock
        <form class="form-horizontal qtyFrm pull-right">
        </form>
        <hr class="soft clr" />
        <p>
          14 Megapixels. 18.0 x Optical Zoom. 3.0-inch LCD Screen. Full HD photos and 1280 x 720p HD movie capture. ISO sensitivity ISO6400 at reduced resolution. Tracking Auto Focus. Motion Panorama Mode. Face Detection technology with Blink detection and Smile
          and shoot mode. 4 x AA batteries not included. WxDxH 110.2 ×81.4x73.4mm. Weight 0.341kg (excluding battery and memory card). Weight 0.437kg (including battery and memory card).

        </p>
        <!-- <a class="btn btn-small pull-right" href="#detail">More Details</a> -->
        <br class="clr" />
        <a href="#" name="detail"></a>
        <hr class="soft" />
      </div>
    </div>
  </div>
</div>
