<div class="container-fluid">
    <div class="row" style="border-bottom: white; border-bottom-style: solid; border-bottom-width: thin;">
        <div class="col-md-4 col-sm-6">
            <img src="/shop/images/icarus-music-argentina-web.png" alt="" class="img-responsive" alt="Responsive image">
        </div>
        <div class="col-md-8 col-sm-6">
            <div class="row">
                <div class="col-md-6 hidden-sm hidden-xs"><center>Welcome!<strong> User</strong></center></div>
                <div class="col-md-6">
                    <div class="pull-right hidden-sm hidden-xs">
                        <span class="btn btn-mini">$ {{totalprice }}</span>
                        <a >
                            <span class="btn btn-mini btn-primary">
                                <i class="icon-shopping-cart icon-white"></i>
                                [ {{ items }} ] Itemes in your cart
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <nav class="navbar navbar-default navbar-static-top" style="border-bottom-style: none; margin-bottom: 10px;">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8"
                                aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-8">
                            
                            <div class="col-md-5 col-sm-12">
                                <form class="navbar-form center-block">
                                    <div class="form-group center-block">
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-7 col-sm-12">
                                <ul class="nav navbar-nav navbar-left">
                                    <li ng-repeat="item in navMenuItems" ui-sref-active="active"><a ui-sref="{{item.state}}">{{item.text}}</a></li>

                                    <li role="separator" class="divider"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>


        </div>
    </div>

</div>
