<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div id="top" class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" ui-sref="admin.products({'#':'collapseOne'})" aria-expanded="true"
                    aria-controls="collapseOne">
          Pedidos de clientes
        </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-1">
                            <div class="form-group form-group-sm">
                                <label class="control-label col-md-3">Id</label>
                                <div class="col-md-9">
                                    <input class="form-control input-sm " ng-model="producto.id" type="text" disabled>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label class="control-label col-md-3">Cliente</label>
                                <div class="col-md-9">
                                    <input class="form-control input-sm" ng-model="producto.userName" type="text" ng-disabled="producto.state === 'entregado'">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label class="control-label col-md-3">Fecha de entrega</label>
                                <div class="col-md-9">
                                    <input class="form-control input-sm" ng-model="producto.date" type="date" ng-disabled="producto.state === 'entregado'">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label class="control-label col-md-3">Estado</label>
                                <div class="col-md-9">
                                    <input class="form-control input-sm" ng-model="producto.state" type="text" ng-disabled="producto.state === 'entregado'">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label class="control-label col-md-3">Direccion</label>
                                <div class="col-md-9">
                                    <input class="form-control input-sm" ng-model="producto.userStreet" type="text" ng-disabled="producto.state === 'entregado'">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label class="control-label col-md-3">Precio</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input class="form-control input-sm" ng-model="producto.totalPrice" step="0.01" type="text" disabled>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-sm-offset-2 col-md-4 col-md-offset-2">
                        </div>
                    </div>
                    <div class="row">

                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                            <th>Producto</th>
                                            <th>Description</th>
                                            <th>Cantidad</th>
                                            <th>Precio</th>
                                            <!--<th>Descuento</th>-->
                                            <th>Tax</th>
                                            <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="carrito.length > 0" ng-repeat="product in carrito">
                                            <td> {{product.name}}</td>
                                            <td class="col-sm-3">{{product.description}}</td>
                                            <td>
                                                <div class="input-group">
                                                    <input class="form-control" style="max-width: 50px;"  ng-model="product.quantity" id="appendedInputButtons" type="text">
                                                    <div class="btn-group" role="group" aria-label="Second group">
                                                            <button class="btn" type="button" ng-click="decrease(product.id)">
                                                                <i class="icon-minus"></i>
                                                            </button>
                                                            <button class="btn" type="button" ng-click="increase(product)" style="border-left-style: solid; border-left-color: gray;">
                                                                <i class="icon-plus"></i>
                                                            </button>
                                                    </div>
                                                    <div class="btn-group" role="group" aria-label="third group">
                                                        <button class="btn btn-danger" type="button" ng-click="delete(product.id)" style="margin-left: 5px;">
                                                        <i class="icon-remove icon-white"></i>
                                                        </button>
                                                    </div>

                                                </div>
                                            </td>
                                            <td>$ {{product.price | number:2}}</td>
                                            <!--<td>$ {{discount | number:2}}</td>-->
                                            <td>$ {{tax | number:2}}</td>
                                            <td>$ {{(product.quantity * (product.price - discount)) * (tax/100) + (product.quantity * (product.price - discount)) | number:2 }}</td>
                                            </tr>
                                            <tr ng-if="producto.state === undefined || producto.state !== 'entregado'" style="border-left-style:none;">
                                            <td class="col-sm-2">
                                                <div class="input-group">
                                                <input type="text" class="form-control"  ng-model="newProduct.name" style="width:100%">
                                                </div>  
                                            </td>
                                            <td class="col-sm-2" >
                                                <div class="input-group" >
                                                    <input type="text" class="form-control" ng-model="newProduct.description"  ng-model="newProduct.description">
                                                </div>  
                                            </td>
                                            <td >
                                                <div class="input-group">
                                                    <input class="form-control" style="max-width: 50px;"  ng-model="newProduct.quantity" id="appendedInputButtons" type="text">
                                                    <div class="btn-group" role="group" aria-label="Second group">
                                                            <button class="btn" type="button" ng-click="decrease(newProduct.id)">
                                                                <i class="icon-minus"></i>
                                                            </button>
                                                            <button class="btn" type="button" ng-click="increase(newProduct)" style="border-left-style: solid; border-left-color: gray;">
                                                                <i class="icon-plus"></i>
                                                            </button>
                                                    </div>
                                                    <div class="btn-group" role="group" aria-label="third group">
                                                        <button class="btn btn-danger" type="button" ng-click="delete(newProduct.id)" style="margin-left: 5px;">
                                                        <i class="icon-remove icon-white"></i>
                                                        </button>
                                                    </div>

                                                </div>

                                            </td>
                                            <td class="col-sm-1">
                                                <!--$ {{newProduct.price | number:2}}-->
                                                <div class="input-group">
                                                <!--<span class="input-group-addon">$</span>-->
                                                <input type="text" class="form-control" ng-model="newProduct.price" >
                                                </div>
                                            </td>
                                            <!--<td>$ {{discount | number:2}}</td>-->
                                            <td>$ {{tax | number:2}}</td>
                                            <td>$ {{(newProduct.quantity * (newProduct.price - discount)) * (tax/100) + (product.quantity * (product.price - discount)) | number:2 }}</td>
                                            <td  style="border: none;">
                                                <button class="btn btn-danger" type="button" ng-click="agregarElemento()">
                                                    <i class="icon-plus">Agregar</i>
                                                </button></td>
                                            </tr>
                                            <tr ng-if="carrito == null || carrito.length == 0">
                                            <td colspan="6">
                                                <strong><center> Actualmente, tu carrito de compras está vacío </center></strong>
                                            </td>
                                            </tr>
                                            <tr>
                                            <td colspan="5" style="text-align:right">Total Price: </td>
                                            <td> $ {{totalPrice | number:2}}</td>
                                            </tr>
                                            <tr>
                                            <td colspan="5" style="text-align:right">Total Discount: </td>
                                            <td> $ {{totalDiscount | number:2}}</td>
                                            </tr>
                                            <tr>
                                            <td colspan="5" style="text-align:right">Total Tax: </td>
                                            <td> $ {{totalTax | number:2}}</td>
                                            </tr>
                                            <tr>
                                            <td colspan="5" style="text-align:right"><strong>TOTAL ($ {{totalPrice |number:2}} - $ {{totalDiscount | number:2}} + ${{totalTax | number:2}}) =</strong></td>
                                            <td class="text-danger" style="display:block; "> <strong> $ {{totalPrice + totalTax - totalDiscount| number:2}} </strong></td>
                                            </tr>
                                        </tbody>
                                        </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4">
                            <div ng-show="showAlert">
                                <br/>
                                <div class="alert alert-danger">
                                     <center>
                                         <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                         Tiene imagenes por subir, suba primero las imagenes
                                    </center>
                                </div>
                            </div>
                            <div ng-show="!showAlert">
                                <br/>
                                <br/>
                                <br/>
                            </div>
                            <center>
                                <button type="button" class="btn btn-primary" ng-disabled="producto.state === 'entregado'" ng-click="createOrUpdate()">{{ isUpdate ? 'Actualizar' : 'Nuevo' }}</button>
                                <button type="button" class="btn btn-primary" ng-click="CancelAndClean()">Cancelar y limpiar</button>
                            </center>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true"
                    aria-controls="collapseTwo">
          Listado de pedidos
        </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <div class="row">
                    <div id="grid1" ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-exporter class="grid"></div>
                </div>
                <!--<div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <center><h3>Detalles</h3></center>
                    </div>
                </div>
                <div class="row">
                    <div id="grid2" ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-exporter class="grid"></div>
                </div>-->
            </div>
        </div>
    </div>
</div>
<script src="bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
