<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div id="top" class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" ui-sref="admin.products({'#':'collapseOne'})" aria-expanded="true"
                    aria-controls="collapseOne">
          Alta de usuario
        </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-1">
                            <div class="form-group form-group-sm">
                                <label class="control-label col-md-3">Nombre</label>
                                <div class="col-md-9">
                                    <input class="form-control input-sm " ng-model="producto.name" type="text">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label class="control-label col-md-3">Email</label>
                                <div class="col-md-9">
                                    <input class="form-control input-sm" ng-model="producto.email" type="text">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label class="control-label col-md-3">Password</label>
                                <div class="col-md-9">
                                        <input class="form-control input-sm" ng-model="producto.password" type="password">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label class="control-label col-md-3">Perfil</label>
                                <div class="col-md-9">
                                    <select ng-model="producto.profile" class="form-control">
                                        <option style="display:none" value="">seleccione una opcion</option>
                                        <option ng-repeat="option in profileList" value="{{option.id}}" ng-click="change(option)">{{option.text}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label class="control-label col-md-3">Habilitado?</label>
                                <div class="col-md-9">
                                    <select ng-model="producto.enabled" class="form-control">
										<option style="display:none" value="">seleccione una opcion</option>
										<option ng-repeat="option in enableState" value="{{option.id}}" ng-click="change(option)">{{option.text}}</option>
									</select>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label class="control-label col-md-3">Sucursal</label>
                                <div class="col-md-9">
                                    <!-- <select id="shp" ng-model="producto.shopId" class="form-control">
										 <option value="" >---Please select---</option> 
										<option ng-repeat="shop in storeList" value="{{shop.id}}" ng-click="change(shop)">{{ shop.name}}</option>
                                    </select> -->
                                    <select class="form-control" ng-model="producto.shopId" required="required"
                                        ng-options="option.id as option.name for option in storeList" >
                                        <option style="display:none" value="">seleccione una opcion</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-sm-offset-2 col-md-4 col-md-offset-2">

                        </div>
                    </div>
                    <div class="row">
                        
                    </div>
                    <div class="row">
                        
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4">
                            <center>
                                <button type="button" class="btn btn-primary"  ng-click="createOrUpdate()">{{ isUpdate ? 'Actualizar' : 'Nuevo' }}</button>
                                <button type="button" class="btn btn-primary" ng-click="CancelAndClean()">Cancelar y limpiar</button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true"
                    aria-controls="collapseTwo">
          Listado de usuarios
        </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <div id="grid1" ui-grid="gridOptions" ui-grid-exporter class="grid"></div>
            </div>
        </div>
    </div>
</div>
<script src="bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
