<div id="carouselBlk">
	<div id="myCarousel" class="carousel slide">
		<div class="carousel-inner">
			<div class="item" ng-repeat="image in imageslist" ng-class='{active:$first}'>
				<div class="container">
					<a ui-sref="register"><img style="width:100%" ng-src="{{image.image}}" alt="special offers" /></a>
					<div class="carousel-caption">
						<h4>{{image.label}}</h4>
						<p>{{image.description}}</p>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
	</div>
