<div id="mainBody">
  <div class="container">
    <div class="row">
      <div class="span9">
        <h3>  SHOPPING CART [ <small>{{ storedValues.length }} Item(s) </small>]<a class="btn btn-large pull-right" ui-sref="main"><i class="icon-arrow-left"></i> Continue Shopping </a></h3>
        <hr class="soft" />
        <table class="table table-bordered" ng-if="!isloged">
          <tr>
            <th> I AM ALREADY REGISTERED </th>
          </tr>
          <tr>
            <td>
              <form class="form-horizontal">
                <div class="control-group">
                  <label class="control-label" for="inputUsername">Username</label>
                  <div class="controls">
                    <input type="text" id="inputUsername" placeholder="Username">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="inputPassword1">Password</label>
                  <div class="controls">
                    <input type="password" id="inputPassword1" placeholder="Password">
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <button type="submit" class="btn">Sign in</button> OR <a href="register.html" class="btn">Register Now!</a>
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <a href="forgetpass.html" style="text-decoration:underline">Forgot password ?</a>
                  </div>
                </div>
              </form>
            </td>
          </tr>
        </table>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Product</th>
              <th>Description</th>
              <th>Quantity/Update</th>
              <th>Price</th>
              <th>Discount</th>
              <th>Tax</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="carrito.length > 0" ng-repeat="product in carrito">
              <td> <img width="60" ng-src="{{product.image}}" alt="" /></td>
              <td>{{product.description}}</td>
              <td>
                <div class="input-append">
                  <input class="span1" style="max-width:34px" placeholder="{{product.quantity}}" id="appendedInputButtons" size="16" type="text">
                  <button class="btn" type="button" ng-click="decrease(product.id)">
                    <i class="icon-minus"></i>
                  </button>
                  <button class="btn" type="button" ng-click="increase(product)">
                    <i class="icon-plus"></i>
                  </button>
                  <button class="btn btn-danger" type="button" ng-click="delete(product.id)">
                    <i class="icon-remove icon-white"></i>
                  </button>
                </div>
              </td>
              <td>$ {{product.price | number:2}}</td>
              <td>$ {{discount | number:2}}</td>
              <td>$ {{tax | number:2}}</td>
              <td>$ {{(product.quantity * (product.price - discount)) * tax | number:2 }}</td>
            </tr>
            <tr ng-if="carrito == null || carrito.length == 0">
              <td colspan="7">
                <strong><center> No items to show </center></strong>
              </td>
            </tr>
            <tr>
              <td colspan="6" style="text-align:right">Total Price: </td>
              <td> $ {{totalPrice | number:2}}</td>
            </tr>
            <tr>
              <td colspan="6" style="text-align:right">Total Discount: </td>
              <td> $ {{totalDiscount | number:2}}</td>
            </tr>
            <tr>
              <td colspan="6" style="text-align:right">Total Tax: </td>
              <td> $ {{totalTax | number:2}}</td>
            </tr>
            <tr>
              <td colspan="6" style="text-align:right"><strong>TOTAL ($ {{totalPrice |number:2}} - $ {{totalDiscount | number:2}} + ${{totalTax | number:2}}) =</strong></td>
              <td class="label label-important" style="display:block"> <strong> $ {{totalPrice -  totalDiscount + totalTax | number:2}} </strong></td>
            </tr>
          </tbody>
        </table>


        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>
                <form class="form-horizontal">
                  <div class="control-group">
                    <label class="control-label"><strong> VOUCHERS CODE: </strong> </label>
                    <div class="controls">
                      <input type="text" class="input-medium" placeholder="CODE">
                      <button type="submit" class="btn"> ADD </button>
                    </div>
                  </div>
                </form>
              </td>
            </tr>

          </tbody>
        </table>

        <table class="table table-bordered">
          <tr>
            <th>ESTIMATE YOUR SHIPPING </th>
          </tr>
          <tr>
            <td>
              <form class="form-horizontal">
                <div class="control-group">
                  <label class="control-label" for="inputCountry">Country </label>
                  <div class="controls">
                    <input type="text" id="inputCountry" placeholder="Country">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="inputPost">Post Code/ Zipcode </label>
                  <div class="controls">
                    <input type="text" id="inputPost" placeholder="Postcode">
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <button type="submit" class="btn">ESTIMATE </button>
                  </div>
                </div>
              </form>
            </td>
          </tr>
        </table>
        <a class="btn btn-large" ui-sref="main"><i class="icon-arrow-left"></i> Continue Shopping </a>
        <a href="login.html" class="btn btn-large pull-right" ng-disabled="true">Next <i class="icon-arrow-right"></i></a>

      </div>
    </div>
  </div>
</div>
<!-- MainBody End ============================= -->
