<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4"><center><h3>Alta Usuario</h3></center></div>
</div>
<dir class="row">
<form>
  <div class="form-group">
    <label for="formGroupNombre">Nombre</label>
    <input class="form-control" id="Nombre" placeholder="Nombre" type="text">
  </div>
  <div class="form-group">
    <label for="formGroupApellido">Apellido</label>
    <input class="form-control" id="Apellido" placeholder="Apellido" type="text">
  </div>
    <div class="form-group">
    <label for="formGroupEmail">E-mail</label>
    <input class="form-control" id="email" placeholder="ingrese el mail" type="email">
  </div>
   </div>
    <div class="form-group">
    <label for="formGroupPassword">Contraseña</label>
    <input class="form-control" id="password" placeholder="ingrese el password" type="password">
  </div>
  <div class="form-group">
  <label for="formGroupPerfil">Perfil</label>
	  <select class="form-control">
		  <option value="c">Comprador</option>
		  <option value="v">Vendedor</option>
		  <option value="a">Administrador</option>
		</select>
	</div>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Agregar usuario</button>
</form>

</dir>
