<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4"><center><h3>{{ title }}</h3></center></div>
</div>
<dir class="row">
<form name="userFrm">
  <div class="form-group">
    <label for="formGroupExampleInput">Nombre</label>
    <input class="form-control" name="nombre" id="formGroupExampleInput" placeholder="nombre" type="text" ng-model="producto.nombre" required="">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Descripción</label>
    <input class="form-control" id="formGroupExampleInput2" placeholder="Descripción" type="text" name="descripcion" ng-model="producto.descripcion">
  </div>
    <div class="form-group">
    <label for="formGroupExampleInput2">Precio</label>
    <input class="form-control" id="formGroupExampleInput2" placeholder="Precio" type="text" name="precio" ng-model="producto.precio" required="">
  </div>
  
  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="accionBoton()" ng-disabled="((userFrm.nombre.$dirty || userFrm.nombre.$untouched) && userFrm.nombre.$invalid) || ((userFrm.precio.$dirty || userFrm.precio.$untouched) && userFrm.precio.$invalid)" >{{ textButton }}</button>
</form>

</dir>
